<div class="edit-page">
    <h3 class="text-center py-2 header-title">Edit Product</h3>

    <form action="" [formGroup]="productForm">
        <div class="input-box">
            <label for="">Name</label>
            <input type="text" placeholder="Product Name" formControlName="name">
        </div>
        <div class="input-box">
            <label for="">Price</label>
            <input type="number" placeholder="Product Price" formControlName="price" min="0">
        </div>
        <div class="input-box">
            <label for="">Rating</label>
            <input type="number" placeholder="Product Rating" formControlName="rating" min="0" max="5">
        </div>
        <div class="input-box">
            <label for="">Description</label>
            <textarea formControlName="description" rows="10" cols="20"></textarea>
        </div>
        <div *ngIf="productForm.get('name')?.hasError('required') && productForm.get('name')?.touched"
            class="text-danger">
            Product Name is Required.
        </div>
        <div *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched"
            class="text-danger">
            Product Price is Required.
        </div>
        <div *ngIf="productForm.get('description')?.hasError('required') && productForm.get('description')?.touched"
            class="text-danger">
            Product Description is Required.
        </div>
        <div *ngIf="productForm.get('rating')?.hasError('required') && productForm.get('rating')?.touched"
            class="text-danger">
            Product Rating is Required.
        </div>
        <div *ngIf="productForm.get('description')?.errors?.['minlength'] && productForm.get('description')?.touched"
            class="text-danger">
            Description Must be at least 20 Characters Long.
        </div>
        <div *ngIf="productForm.get('price')?.errors?.['min'] && productForm.get('price')?.touched" class="text-danger">
            Price Must be Minimmum of 1.
        </div>
        <div *ngIf="productForm.get('rating')?.errors?.['max'] && productForm.get('rating')?.touched"
            class="text-danger">
            Rating Must be maximum of 5.
        </div>
        <button class="btn btn-primary py-2 my-2" type="button" (click)="editProduct()">Edit Product</button>

    </form>
</div>